/*------------------------------------------------------------*/


/*								Breadcrumbs													*/


/*-----------------------------------------------------------*/


.summonBreadcrumbs {
    list-style: none;
    padding: 0;
    margin: -10px 10px 10px;
}

.summonBreadcrumbs>li {
    display: inline-block;
}

.summonBreadcrumbs>li+li:before {
    content: "\003e";
    padding: 0 5px;
    color: #000000;
}

.summonBreadcrumbs>li>a {
    font-size: 13px;
    color: #000000;
    opacity: 0.9;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

/*------------------------------------------------------------*/


/*								Filters Side Panel													*/


/*-----------------------------------------------------------*/





/* Headers */

.quickFilters h3,
.facetFields h3>a,
.dateSlider h3 {
    font-size: 1.5rem;
    display: block;
    padding: 5px;
    color: #000;
}


/* lists of links in each section */

.quickFilters .values,
.facetFields .values {
    margin-left: 15px;
}



/* Material Type Section */


/*
  .facetField:first-of-type > ul > li:nth-child(4),
  .facetField:first-of-type > ul > li:nth-child(5) {
    display: none;
  }
*/


/* Date filter */

.dateSlider {
    margin: 0 20px;
}

.dateSlider h3 {
    border: none;
    margin-top: 5px;
    margin-left: -1.5em;
}

.sliderContainer {
    margin: 8px 15px 8px -15px;
}


/* Facet sections */

.quickFilters>div {
    padding-bottom: 3rem;
    border-bottom: 1px solid gray;
    margin-left: 1rem;
}

.quickFilters>div {
    margin-bottom: 1rem;
}

.facetFields .facetField {
    padding-bottom: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid gray;
}
